@media screen and (max-width: 930px) {
    #about {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .about-p {
        font-size: 20px;
        width: 100%;
    }

    .profile-pic {
        margin: 0;
    }

    .main-section-content {
        width: 100%;
    }
}

